* {
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 42, 42);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /*делаем видимыми квдраты*/
  align-items: center;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2.5s ease;
}

.square:hover {
  transition-duration: 0s;
}